extends layout

block content

    div.container
        div.col-sm-6.col-sm-offset-3
            h1
                span.fa.fa-sign-in Login

            if message.length
                div.alert.alert-danger= message

            form(action="/login" method="post")
                div.form-group
                    label Username
                    input.form-control(type="text" name="username")
                div.form-group
                    label Password
                    input.form-control(type="password" name="password")
                button.btn.btn-warning.btn-lg(type="submit") Login
            hr
            p Not Registered?
                a(href="/register")  Create an account
            p Or go
                a(href="/")  Home.