<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">Login</div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-5">
                    <div class="input-group">
                        <legend>Login</legend>
                        <input type="text" class="form-control" ng-model="main.credentials.username" placeholder="Username"/>
                        <input type="password" class="form-control" ng-model="main.credentials.password" placeholder="Password"/>
                        <div class="btn-group">
                            <button ng-click="login()" type="button" class="btn btn-primary">Login</button>
                            <a type="button" class="btn btn-sm">Lost password?</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-offset-1 col-sm-5">
                    <div class="input-group">
                        <legend>Create Account</legend>
                        <input type="text" class="form-control" ng-model="main.register.username" placeholder="Username"/>
                        <input type="password" class="form-control" ng-model="main.register.password" placeholder="Password"/>
                        <input type="email" class="form-control" ng-model="main.register.email" placeholder="Email"/>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary">Register</button>
                        </div>
                    </div>
                </div>
            </div>

            </div>
        </div>
    </div>
</div>
